language: c
cache:
    - apt
    - ccache
env:
 global:
    - FLAVOR=linux_ubuntu_12_64
before_install:
    # install build-dependencies as the doc says
    - sudo sh src/other_builds/OS_notes.linux_ubuntu_12_64
    # install packages needed for testing
    - sudo apt-get install xvfb xauth libgl1-mesa-dri mesa-utils tcsh libjpeg-progs
    # for Debian pkg build testing
    - bash <(wget -q -O- http://neuro.debian.net/_files/neurodebian-travis.sh)
    - sudo sed -i -e 's,#deb-src,deb-src,g' /etc/apt/sources.list.d/neurodebian.sources.list
    - sudo apt-get update -q
    - sudo apt-get install quilt
    - sudo apt-get build-dep afni
install:
    # In Debian branch we will build the package which will run tests etc
    # - cd src
    # - cp other_builds/Makefile.$FLAVOR Makefile
    # - make vastness
script:
    - QUILT_PATCHES=debian/patches quilt push -a
    - dpkg-buildpackage -uc -us -rfakeroot -b
    # some additional depends
    - sudo apt-get install gifsicle
    - sudo dpkg -i ../*.deb
    - source /etc/afni/afni.sh
    # - export PATH=$PATH:$PWD/$FLAVOR  # to gain access to built binaries
    # - mkdir ../testing; cd ../testing # from here will run tests
    # - cmake -DAFNI_BUILD_TESTS:BOOL=ON ..
    # - ctest
    # Smoke tests for some additional commands
    - 3dinfo
